[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "mayank010698.github.io"]
	path = mayank010698.github.io
	url = https://github.com/mayank010698/mayank010698.github.io
	branch = master
[submodule "public"]
	path = public
	url = https://github.com/mayank010698/mayank010698.github.io.git
	branch = master
